* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    padding: 20px 1.5rem;
    background-image: url('background-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 0;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    position: sticky;
    margin-bottom: 10px;
}

.input-location input {
    font-size: 15px;
    border: none;
    border-radius: 20px;
    height: 30px;
    background-color: rgba(183, 172, 172, 0.9);
   
    &:focus{
        outline: none;
    }
}

::placeholder {
    text-align: center ;
    
}
.search button {
    height: 30px ;
    font-size: 15px;
    border: none;
    border-radius: 15px;
    padding: 4px;
    margin: 3px;
    background-color: rgb(229, 229, 229);
    color: rgba(66, 64, 64, 0.637);
}

.card1 {
    padding: 8px;
    width: 400px;
    height: 280px;
    background-color:rgba(138, 138, 138, 0.5);    
    border: none;
    border-radius: 10px;
   
}

.head {
    display: flex;
    justify-content:space-between;
    align-items: baseline;
    padding: 10px;
}

.lokasi {
    padding-left: 2px;
   
}
.day{
    padding-left: 1px;
    font-weight: 500;
}
.tanggal {
    padding-top: 5px;
    padding-left: 25px;
    font-weight: 300;
    font-size: 10px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
}

.temp-max{
    padding-left: 25px;
}
.temp-min{
    padding-right: 25px;
}

.content img {
    width: 100px;
    height: 100px;
}

.footer-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 1.5rem;

}

.card2 {
    padding: 8px;
    width: 415px;
    height: 280px;
    background-color:rgba(138, 138, 138, 0.5 );    
    border: none;
    border-radius: 10px;
}
.card2 h2{
    font-weight: 500;
    font-size: 20px;
}
.content2{
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 12px;
    column-gap: 12px;
    padding: 10px;
    margin: 5px;
}

.wind-status{
    background-color: rgba(116, 122, 128, 0.3);
    text-align: center;
    padding:5px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px rgb(72, 73, 74);
}

.humidity{
    background-color: rgba(116, 122, 128, 0.3);
    text-align: center;
    padding:5px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px  rgb(72, 73, 74);
}
.sunrise{
    background-color: rgba(116, 122, 128, 0.3);
    text-align: center;
    padding:5px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px  rgb(72, 73, 74);
}
.uv-index{
    background-color: rgba(116, 122, 128, 0.3);
    text-align: center;
    padding:5px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px rgb(72, 73, 74);
}

.visibility{
    background-color: rgba(116, 122, 128, 0.3);
    text-align: center;
    padding:5px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px  rgb(72, 73, 74);
}

.sunset{
    background-color: rgba(116, 122, 128, 0.3);
    text-align: center;
    padding:5px 0;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px rgb(72, 73, 74);
}

.card3 {
    background-color:rgba(138, 138, 138, 0.5); 
    width: 820px;
    padding: 1.2rem;
    border-radius: 10px;
    grid-column: 3 span /2;
}

.content3{
    display: grid;
    grid-template-columns:120px 120px 120px 120px 120px 120px ;
    gap: 12px;
}

.sunday{
    background-color:rgba(116, 122, 128, 0.3);
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

.sunday img{
    width: 100px;
    height: 100px;
}

.thuesday{
    background-color:rgba(116, 122, 128, 0.3);
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

.thuesday img{
    width: 100px;
    height: 100px;

}
.wednesday{
    background-color:rgba(116, 122, 128, 0.3);
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

.wednesday img{
    width: 100px;
    height: 100px;

}
.thursday{
    background-color:rgba(116, 122, 128, 0.3);
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

.thursday img{
    width: 100px;
    height: 100px;

}
.friday{
    background-color:rgba(116, 122, 128, 0.3);
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

.friday img{
    width: 100px;
    height: 100px;

}
.saturday{
    background-color:rgba(116, 122, 128, 0.3);
    border-radius: 10px;
    text-align: center;
    justify-content: center;
}

.saturday img{
    width: 100px;
    height: 100px;

}


